<div class="container">
  <h1>NgBootstrapDarkmode Test Page</h1>

  <p>
    Detected Theme: <code>{{themeService.detectedTheme$ | async}}</code>
  </p>
  <p>
    Selected Theme: <code>{{themeService.theme$ | async}}</code>
  </p>

  <h2>Darkmode Switch</h2>
  <ng-bootstrap-darkmode-switch></ng-bootstrap-darkmode-switch>

  <h2>Theme Switch</h2>
  <table class="table table-bordered">
    <tr>
      <th>Size</th>
      <th>Result</th>
    </tr>
    <tr *ngFor="let size of [undefined, 'sm', 'md', 'lg']">
      <th>{{size || '(undefined)'}}</th>
      <th>
        <ng-bootstrap-theme-switch [size]="size"></ng-bootstrap-theme-switch>
      </th>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th>Style</th>
      <th>Result</th>
    </tr>
    <tr *ngFor="let style of [undefined, 'icon', 'label']">
      <th>{{style || '(undefined)'}}</th>
      <th>
        <ng-bootstrap-theme-switch [style]="style"></ng-bootstrap-theme-switch>
      </th>
    </tr>
  </table>
</div>
